body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    -webkit-clip-path: inset(100%);
    
            clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
}

.button {
  display: inline-block;
  padding: 11px 40px 9px;
  
  font: inherit;
  
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px
}

.main-header {
  padding-bottom: 65px;
  color: #000000;
  
  background-color: #f3f7f9
}

.header-top {
  margin-bottom: 46px;
  
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  
  background-color: #293449;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-logo {
  display: block;
  padding: 13px 56px 8px;
  
  background-color: #ee3643; 
  -webkit-box-shadow: 0 5px 0 0 #b52933; 
          box-shadow: 0 5px 0 0 #b52933;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;
}

.search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 49px;
  
  font: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  
  background-color: #293449;
  border: none;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-input::-ms-input-placeholder {
  color: #ffffff;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a; 
}

.search-input:focus {
  color: #000000;
  
  background-color: #ffffff;
}

.search-button {
  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 17px;
  height: 17px;
  padding: 0;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button path {
  opacity: 0.3;
}

.search-input:hover + .search-button path {
  opacity: 1;
}

.search-input:focus + .search-button path,
.search-button:focus path {
  fill: #ee3643;
  opacity: 1;
}

.user-button {
  position: relative;
  
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 10px;
  
  color: #ffffff;
  
  background-color: #293449;
}

.basket {
  padding-left: 50px;
}

.user-button:hover,
.user-button:focus {
  background-color: #212a3a;
}

.user-button:active {
  color: rgba(255,255,255,0.6);
  
  background-color: #161d26;
}

.user-button.active {
  background-color: #ee3643;
}

.user-button.active:hover,
.user-button.active:focus {
  background-color: #ca2c37
}

.user-button.active:active {
  color: rgba(255,255,255,0.6);
  
  background-color: #ba2732;
}

.bookmarks::before {
  content: "";
  
  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 14px;
  height: 16px;
  
  background-image: url("../img/svg/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  opacity: 0.3
}

.basket::before {
  content: "";
  
  position: absolute;
  top: 12px;
  left: 18px;
  
  width: 15px;
  height: 15px;
  
  background-image: url("../img/svg/icon-basket.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before,
.bookmarks:focus::before,
.basket:focus::before {
  opacity: 1;
}

.user-button:active::before,
.basket:active::before {
  opacity: 0.5;
}

.header-order {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  
  text-align: center;
  color: #ffffff;
  
  background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  opacity: 0.5;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.header-title {
  margin: 0;
  margin-top: 3px;
  width: 300px;
  padding-left: 52px;
  padding-right: 56px;
  
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 300px;
}

.header-phone {
  position: relative;
  
  display: block;
  width: 270px;
  
  padding: 10px 25px 9px 71px;
  margin-bottom: 3px;
  
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  
  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  
  position: absolute;
  top: 10px;
  left: 12px;
  
  width: 19px;
  height: 19px;
  
  background-image: url("../img/svg/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-address {
  margin: 0;
  margin-left: 10px;
  
  font-size: 14px;
  color: #32425c;
}

.login-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  width: 300px;
  
  list-style: none;
}

.login-navigation-item a {
  display: block;
  padding: 13px 24px 11px;
  
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
}

.login-navigation-item a:hover,
.login-navigation-item a:focus {
  color: #ee3643;
}

.login-navigation-item a:active {
  color: rgba(0,0,0,0.3);
}

.login-navigation-item .login-link {
  position: relative;
  
  margin-left: 19px;
  padding-left: 48px;
}

.login-link-icon {
  position: absolute;
  top: 14px;
  left: 14px;
  
  width: 20px;
  height: 17px;
}

.login-link:hover path,
.login-link:focus path {
  fill: #32425C;
}

.login-link:active path {
  fill: #c5c5c5;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  color: #ffffff;
  list-style: none;
  
  background-color: #32425c; 
  -webkit-box-shadow: 0 5px 0 #293449; 
          box-shadow: 0 5px 0 #293449;
}

.site-navigation a {
  display: block;
  padding: 19px 31px;
  
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255,255,255,0.5);
  
  background-color: #1d2739;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  padding-top: 59px;
  margin-bottom: 33px;
}

.new-flag::after {
  content: "";
  
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 59px;
  
  background-image: url("../img/newflag.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  z-index: 20;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.promo-item {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  width: 300px;
  margin-bottom: 20px;
  
  color: #ffffff;
  
  background-color: #ffbf47;
}

.promo-item-wrapper {
  width: 160px;
  padding-top: 21px;
  padding-left: 23px;
}

.promo-item-icon {
  width: 140px;
  height: 123px;
}

.materials-icon {
  background-image: url("../img/promo/materials-icon1.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.tools-icon {
  background-image: url("../img/promo/tools-icon2.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.technics-icon {
  background-image: url("../img/promo/technics-icon3.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.discounts-icon {
  background-image: url("../img/promo/discounts-icon4.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.delivery-icon {
  background-image: url("../img/promo/deliveryicon5.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.promo-item-title {
  margin: 0;
  margin-bottom: 12px;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-button {
  display: block;
  min-width: 135px;
  margin-left: 3px;
  padding-top: 11px;
  padding-bottom: 9px;
  
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0,0,0,0.2)
}

.promo-button:active {
  background-color: rgba(0,0,0,0.3)
}

.promo-technics .promo-button,
.promo-discounts .promo-button,
.promo-delivery .promo-button {
  margin-left: 1px;
}

.promo-tools {
  background-color: #3bbce3;
}

.promo-technics {
  background-color: #dc91d8;
}

.promo-discounts {
  background-color: #8ed78f;
}

.promo-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  -webkit-box-ordinal-group: 2;
  
      -ms-flex-order: 1;
  
          order: 1;
}

.slider {
  position: relative; 
  
  width: 620px;
  
  line-height: 0;
}

.slider-list {
  position: relative;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  position: absolute;
  width: 620px;
  
  color: #ffffff;
  
  background-color: #000000;
}

.slider-item-text {
  position: absolute;
  top: 23px;
  left: 25px;
  
  max-width: 340px;
}

.slider-title {
  margin: 0;
  margin-bottom: 2px;
  
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-text {
  margin: 0;
  
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
    position: absolute;
    top: 206px;
    left: 25px;
    
    padding: 11px 46px 9px 50px;
}

.controls-button {
  position: absolute;
  
  top: 114px;
  
  width: 22px;
  height: 40px;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.controls-button-back {
  left: 25px;
  
  background-image: url("../img/slider/icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  z-index: 2
}

.controls-button-next {
  right: 20px;
  
  background-image: url("../img/slider/icon-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  z-index: 2
}

.slider-indicator {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  left: 295px;
  bottom: 56px;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-indicator-item {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  
  background-color: #ffffff;
  border: 2px solid #ffffff;
  
  border-radius: 50%;
  
  z-index: 3;
}

.slider-indicator-item.active {
  background-color: #ee3643;
}

.slider-item.active {
  z-index: 1;
}

.popular-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 24px 26px 29px;
  margin-bottom: 20px;
  
  background-color: #f9f5f0;
}

.popular-title {
  margin: 0;
  
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-button {
  min-width: 253px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.product-item {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-align: center;
  
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.popular-products .product-item:nth-child(4n) {
  margin-right: 0;
}

.catalog .product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:hover,
.product-item:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
          box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5)
}

.product-order {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  width: 100%;
  margin-bottom: 6px;
  padding-top: 43px;
  padding-bottom: 40px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.buy-button,
.bookmarks-button {
  min-width: 135px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.buy-button {
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 11px;
  
  color: #ffffff;
  
  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 #367315;
          box-shadow: inset 0 -3px 0 #367315;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.bookmarks-button {
  padding-top: 9px;
  padding-bottom: 8px;
  
  color: #32425c;
  
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmarks-button:hover,
.bookmarks-button:focus {
  border-color: #32425c;
}

.bookmarks-button:active {
  color: rgba(50,66,92,0.3);
  
  border-color: rgba(50,66,92,0.3);
  
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 170px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  background-color: #ffffff;
  
  z-index: 0;
}

.product-item:hover .product-image {
  z-index: -1;
}

.buy-button:focus ~ .product-image,
.bookmarks-button:focus ~ .product-image {
  z-index: -1;
}

.product-title {
  width: 190px;
  margin: 0;
  
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.price-discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 9px;
  
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}

.price-button {
  position: relative;
  
  width: 140px;
  margin-left: 6px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  
  background-color: #ee3643;
  border-radius: 3px 0 0 3px;
}

.price-button:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.popular-brands {
  padding-bottom: 66px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  border: 1px solid #eaeaea;
}

.brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-item:hover,
.brand-item:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
          box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5)
}

.brand-item:active {
  opacity: 0.3;
  
  -webkit-box-shadow: 0 4px 10px 0 rgba(41,52,73,0.5);
  
          box-shadow: 0 4px 10px 0 rgba(41,52,73,0.5)
}

.service {
  padding-top: 65px;
  margin-bottom: 80px;
  
  background-color: #f4f7f9;
}

.service-title {
  margin: 0;
  margin-bottom: 26px;
  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.service-text {
  margin: 0;
  margin-bottom: 26px;
  width: 400px;
  
  font-family: "PT Sans", Arial, sans-serif;
}

.service-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-button-list {
  position: relative;
  
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 95px;
  width: 240px;
  
  list-style: none;
}

.service-button-list::after {
  content: "";
  
  position: absolute;
  top: 0;
  right: 0;
  
  width: 10px;
  height: 279px;
  
  background-image: url("../img/service/service-button-shadow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.service-button {
  display: block;
  width: 240px;
  
  padding: 14px 10px 16px 22px;
  margin-bottom: 1px;
  
  font: inherit;
  
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  
  background-color: #32425c;
  -webkit-box-shadow: 0 1px 0 0 #293449;
          box-shadow: 0 1px 0 0 #293449;
  border: none;
}

.service-button:hover,
.service-button:focus {
  background-color: #293449;
}

.service-button:active {
  color: #32425c;
  
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service-button.active,
.service-button.active:hover,
.service-button.active:focus,
.service-button.active:active {
  color: #32425c;
  
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service-slider-list {
  position: relative;
  
  width: 700px;
  height: 327px;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  
  
  list-style: none;
}

.service-slider-item {
  position: absolute;
  
  width: 630px;
  height: 327px;
  padding-top: 42px;
  
  background-color: #f4f7f9;
  
  z-index: 0;
}

.service-slider-item.active {
  z-index: 1;
}

.service-slider-title {
  margin: 0;
  margin-bottom: 24px;
  
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.service-slider-text {
  margin: 0;
  margin-bottom: 26px;
  
  font-family: "PT Sans", Arial, sans-serif;
}

.service-delivery .service-slider-text {
  width: 278px;
}

.service-guarantee .service-slider-text {
  width: 378px;
}

.service-slider-button {
  padding-left: 45px;
  padding-right: 45px;
}

.service-delivery {
  background-image: url("../img/service/delivery.jpg");
  background-position: 94% 100%;
  background-repeat: no-repeat;
}

.service-guarantee {
  background-image: url("../img/service/guarantee.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.service-credit {
  background-image: url("../img/service/credit.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.wrapper-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 86px;
}

.information {
  width: 540px;
}

.information-title {
  margin: 0;
  margin-bottom: 25px;
  
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.information-text {
  margin: 0;
  margin-bottom: 24px;
  
  font-family: "PT Sans", Arial, sans-serif;
}

 .information .information-text:nth-child(3n) {
  width: 390px;
  margin-bottom: 21px;
}

.information-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  
  list-style: none;
}

.information-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  
  font-size: 18px;
  line-height: 20px;
}

.information-item::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 0;
  
  width: 25px;
  height: 2px;
  
  background-color: #ee3643
}

.contacts {
  width: 300px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 25px;
  
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 31px;
  width: 200px;
  
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts-map {
  display: block;
  margin-bottom: 32px;
  
  cursor: pointer;
}

.contacts .button {
  display: block;
}

.top-footer {
  color: #ffffff;
  
  background-color: #32425c;
}

.top-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 49px;
}

.left-column-footer {
  width: 380px;
}

.footer-logo {
  width: 220px;
  margin-bottom: 33px;
  padding: 21px 42px 12px; 
}

.footer-contacts {
  width: 330px;
  margin: 0;
  padding-left: 3px;
  
  font-size: 18px;
}

.right-column-footer {
  width: 560px;
  padding-top: 38px;
  padding-left: 13px;
}

.navigation-footer-list,
.offers-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  font-size: 18px;
  list-style: none;
}

.navigation-footer-list {
  margin-bottom: 34px;
}

.offers-footer-list {
  margin-left: 23px;
}

.navigation-footer-link {
  color: #ffffff;
}

.offers-footer-link {
  color: #ffd180;
}

.navigation-footer-link:hover,
.offers-footer-link:hover,
.navigation-footer-link:focus,
.offers-footer-link:focus {
  text-decoration: underline;
}

.navigation-footer-link:active,
.offers-footer-link:active {
  opacity: 0.5
}

.bottom-footer {
  padding-top: 37px;
  padding-bottom: 25px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  
  background-color: #293449;
}

.bottom-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright-footer {
  width: 240px;
  margin: 0;
  margin-left: 1px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-left: 149px;
  padding: 0;
  width: 131px;
  
  list-style: none;
}

.social-button {
  display: block;
  width: 41px;
  height: 41px;
  
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.social-button:active {
  background-color: #ee3643;
}

.social-button-vk {
  background-image: url("../img/svg/icon-vk.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button-fb {
  background-image: url("../img/svg/icon-fb.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button-insta {
  background-image: url("../img/svg/icon-insta.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.feedback {
  width: 140px;
  margin-left: auto;
  margin-right: 20px;
}

.feedback a {
  color: #ffd180;
}

.developers {
  width: 140px;
  padding-left: 29px;
}

.developers a {
  color: #ffd180;
}

.feedback a:hover,
.developers a:hover,
.feedback a:focus,
.developers a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developers a:active {
  color: #ee3643;
}



.modal {
  display: none;
  
  position: fixed;
  top: 50%;
  left: 50%;

  color: #000000;
  
  background-color: #ffffff;
  
  -webkit-transform: translate(-50%, -50%);
  
      -ms-transform: translate(-50%, -50%);
  
          transform: translate(-50%, -50%);
}


.modal-message {
  width: 620px;
  padding-top: 53px;
  
  border-top: 7px solid #ff5257;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
  
  z-index: 50;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  padding-left: 80px;
  padding-right: 80px;
}

.modal-message-item input[type="text"],
.modal-message-item input[type="email"] {
  width: 220px;
}

.modal-message-text {
  width: 460px;
  min-height: 114px;
  
  resize: none;
}

.modal-message-item label {
  display: block;
  margin-bottom: 8px;
  
  font-size: 18px;
  line-height: 18px;
}

.modal-message-item input,
.modal-message-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  padding: 10px 15px;
  
  font-family: "PT Sans", Arial, sans-serif;
  
  border: 2px solid #d7dcde;
  border-radius: 3px;
  
  outline: 0;
}

.modal-message-item input:hover,
.modal-message-item textarea:hover {
  border-color: #b5b5b5;
}

.modal-message-item input:focus,
.modal-message-item textarea:focus {
  border-color: #ee3643;
}

.modal-message-item input::-webkit-input-placeholder,
.modal-message-item textarea::-webkit-input-placeholder{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: *#a9a9a9;
}

.modal-message-item input:-ms-input-placeholder,
.modal-message-item textarea:-ms-input-placeholder{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: *#a9a9a9;
}

.modal-message-item input::-ms-input-placeholder,
.modal-message-item textarea::-ms-input-placeholder{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: *#a9a9a9;
}

.modal-message-item input::placeholder,
.modal-message-item textarea::placeholder{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: *#a9a9a9;
}

.modal-message-wrapper {
  padding-left: 80px;
  padding-right: 80px;
  
  background: #f4f4f4;
}

.modal-message-button {
  width: 100%;
  margin-top: 37px;
  margin-bottom: 37px;
}

.modal-map {
  width: 940px;
  height: 446px;
  
  color: #000000;
  
  background-color: #ffffff;
  
  -webkit-box-shadow: 0 0 16px 0 rgba(47,42,43,0.5);
  
          box-shadow: 0 0 16px 0 rgba(47,42,43,0.5);
  
  z-index: 50;
}

.modal-map iframe {
  position: relative;
  
  z-index: 2;
}

.map-off-line {
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 1;
}



.modal-add-to-basket  {
  width: 620px;
  padding-top: 55px;
  
  border-top: 7px solid #ff5257;
  -webkit-box-shadow: 0 20px 40px 0 rgba(41,52,73,0.75);
          box-shadow: 0 20px 40px 0 rgba(41,52,73,0.75);
  
  z-index: 50;
}

.modal-add-to-basket .modal-title {
  position: relative;
  
  margin: 0;
  margin-left: 179px;
  margin-bottom: 68px;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-add-to-basket .modal-title::before {
  content: "";
  
  position: absolute;
  top: -20px;
  left: -95px;
  
  width: 66px;
  height: 66px;
  
  background-image: url("../img/svg/form-1.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
}

.modal-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.back-button {
  width: 220px;
  
  color: #000000;
  
  background-color: #ffffff;
}

.back-button:hover,
.back-button:focus {
  color: #ee3643;
  
  background-color: #ffffff;
}

.back-button:active {
  color: rgba(0,0,0,0.3);
  
  background-color: #ffffff;
}

.modal-button {
  width: 220px;
}

.modal-close {
  position: absolute;
  
  top: 13px;
  right: 6px;
  
  width: 27px;
  height: 27px;
  
  background: transparent;
  border: 0;
  
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  
  position: absolute;
  top: 11px;
  left: 0px;
  
  width: 27px;
  height: 5px;
  
  background-color: #ee3643;
  
  z-index: 5;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg)
}

.overlay {
  display: none;
  
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0,0,0,0.5);
  
  z-index: 49;
}

.overlay.active {
  display: block;
}

@-webkit-keyframes bounce {
  0%    {-webkit-transform: translate(-50%, -200%);transform: translate(-50%, -200%); }
  70%   {-webkit-transform: translate(-50%, -40%);transform: translate(-50%, -40%);  }
  90%   {-webkit-transform: translate(-50%, -65%);transform: translate(-50%, -65%);  }
  100%  {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);  }
}

@keyframes bounce {
  0%    {-webkit-transform: translate(-50%, -200%);transform: translate(-50%, -200%); }
  70%   {-webkit-transform: translate(-50%, -40%);transform: translate(-50%, -40%);  }
  90%   {-webkit-transform: translate(-50%, -65%);transform: translate(-50%, -65%);  }
  100%  {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);  }
}

@-webkit-keyframes shake {
  0%, 100%                { -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translate(-48%, -50%); transform: translate(-48%, -50%); }
  20%, 40%, 60%, 80%      { -webkit-transform: translate(-52%, -50%); transform: translate(-52%, -50%); }
}

@keyframes shake {
  0%, 100%                { -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translate(-48%, -50%); transform: translate(-48%, -50%); }
  20%, 40%, 60%, 80%      { -webkit-transform: translate(-52%, -50%); transform: translate(-52%, -50%); }
}

.modal-active {
  display: block;
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}



/*catolog*/

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin-bottom: 7px;
  
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
}

.user-profile-link {
  position: relative;
  
  width: 240px;
  padding: 12px 5px;
  padding-left: 47px;
  
  color: #000000;
}

.user-profile-link:active {
  color: rgba(0,0,0,0.3)
}

.user-icon {
  position: absolute;
  top: 13px;
  left: 14px;
  
  width: 20px;
  height: 18px;
}

.user-profile-link:hover path,
.user-profile-link:focus path {
  fill: #32425C;
}

.user-profile-link:active path {
  fill: #c5c5c5;
}

.user-profile-exit {
  position: relative;
  
  min-width: 60px;
}

.logout-icon {
  position: absolute;
  
  top: 14px;
  left: 29px;
}

.user-profile-exit:hover path,
.user-profile-exit:focus path {
   fill: #32425c;
}

.user-profile-exit:active path {
  fill: #c5c5c5;
}

.user-personal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.user-personal-list li {
  position: relative;
  
  margin-right: 32px;
}

.user-personal-list li:last-child {
  margin-right: 0;
}

.user-personal-list li::after {
  content: "";
  
  position: absolute;
  top: 8px;
  right: -19px;
  
  width: 4px;
  height: 4px;
  
  background-color: #32425c;
  border-radius: 50%;
}

.user-personal-list li:last-child::after {
  display: none;
}

.user-personal-list a {
  color: #32425c;
  text-decoration: underline;
}

.user-personal-list a:hover,
.user-personal-list a:focus {
  color: #ee3643;
}

.user-personal-list a:active {
  color: rgba(50,66,92,0.3);
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 20px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  
  position: absolute;
  top: 3px;
  right: -22px;
  
  width: 8px;
  height: 12px;
  
  background-image: url("../img/svg/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs .icon-home {
  display: block;
  width: 15px;
  height: 18px;
  
  background-image: url("../img/svg/icon-home.svg");
  background-position: 0 center;
  background-repeat: no-repeat;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs a:active {
  opacity: 0.3;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding: 31px 28px 29px;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  
  background-color: #f2f6f8;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar {
  width: 220px;
}

.filters {
  width: 220px;
  
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 19px;
  
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-products fieldset {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-products legend {
  width: 220px;
  
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-legend {
  
  margin-bottom: 13px;
  padding-top: 17px;
  
  border-top: 1px solid #e5e5e5;
}

.range-filter {
  width: 220px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f7f3ec;
  border-right: 3px;
  
}

.range-controls .scale {
  height: 2px;
  
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  
  background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    
    width: 20px;
    height: 20px;
    
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
   
    -webkit-box-shadow: 0 2px 1px 0 #cccccc;
   
            box-shadow: 0 2px 1px 0 #cccccc;
    cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-controls input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  width: 95px;
  padding: 10px;
  
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  
  background-color: #f7f3ec;
  border-radius: 3px;
  border: none;
}

.filter-products ul {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  
  display: block;
  
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  
  top: -1px;
  left: -34px;
  
  width: 23px;
  height: 23px;
  
  background-image: url("../img/svg/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  opacity: 0.79;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  
  position: absolute;
  
  width: 27px;
  height: 23px;
  
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:focus + label::before {
  opacity: 1;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-products fieldset:nth-child(2) {
  margin-bottom: 2px;
}


.filter-input-radio + label::before {
  content: "";
  
  position: absolute;
  top: -2px;
  left: -35px;
  
  width: 25px;
  height: 25px;
  
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  
  position: absolute;
  top: 6px;
  left: -27px;
  
  width: 9px;
  height: 9px;
  
  
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border-color: #b5b5b5;
}

.filter-input-radio:hover:checked + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:focus + label::before {
  opacity: 1;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input:hover + label {
  cursor: pointer;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-input:active + label {
  opacity: 0.3;
}

.filter-button {
  margin-top: 58px;
  padding: 10px 40px 9px 37px;
  
  font: inherit;
  
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

.catalog {
  width: 700px;
}

.catalog-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 20px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  
  background-color: #f7f3ec;
  border-radius: 3px;
}

.catalog-sorting-title {
  margin: 0;
  margin-right: 10px;
  width: 220px;
  
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}
  
.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 355px;
  margin: 0;
  padding-right: 25px;
  padding: 0;
  
  
  text-transform: uppercase;
  list-style: none;
}

.sorting-link {
  color: rgba(0,0,0,0.3);
  
  border-bottom: 1px dotted #ee3643;
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0,0,0,1);
  
  border-bottom: 1px solid #ee3643;
}

.sorting-link:active {
  color: rgba(238,54,67,1);
  border-bottom: none;
}

.sorting-active {
  color: rgba(238,54,67,1);

  border-bottom: none;
}

.sorting-active:hover,
.sorting-active:focus {
  color: rgba(238,54,67,1);

  border-bottom: none;
}

.sorting-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 43px;
}

.sorting-indicator-max {
  position: absolute;
  top: 3px;
  left: 3px;
  
  width: 0;
  height: 0;
  
  border-bottom-width: 11px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #c5c5c5;
}

.sorting-indicator-max:hover,
.sorting-indicator-max:focus {
  border-bottom-color: #000000;
}

.sorting-indicator-max:active {
  border-bottom-color: #ee3643;
}

.sorting-indicator-max.active {
  border-bottom-color: #ee3643;
}

.sorting-indicator-min {
  position: absolute;
  top: 3px;
  right: -3px;
  
  width: 0;
  height: 0;
  
  border-top-width: 11px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: #c5c5c5;
}

.sorting-indicator-min:hover,
.sorting-indicator-min:focus {
  border-top-color: #000000;
}

.sorting-indicator-min:active {
  border-top-color: #ee3643;
}

.sorting-indicator-min.active {
  border-top-color: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 60px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  list-style: none;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 14px;
  padding-left: 15px;
  
  color: #000000;
  text-align: center;
  vertical-align: middle;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-link-next {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination-link:hover,
.pagination-link:focus {
  border-color: #bdc6ca;
}

.pagination-link:active {
  border-color: #ee3643;
}

.pagination-link.active {
  color: #ffffff;
  
  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-link-active:hover,
.pagination-link-active:focus,
.pagination-link-active:active {
  border-color: #ee3643;
}

.description {
  padding-top: 65px;
  padding-bottom: 68px;
  
  color: #000000;
  
  background-color: #f2f6f8;
}

.description-title {
  margin: 0;
  margin-bottom: 26px;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase
}

.description-text {
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
}

